@import './styles/commonClasses.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import './styles/variable.css';
body{
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-style: normal;
}