.filter-item{
    padding: 8px;
    display: flex;
    background-color: var(--primary-bg);
    color: var(--filter-text);
    border: 1px solid var( --mealmates-gray);
    border-radius: 8px;
    margin: 10px 10px 10px 0px;
    font-size: 14px;
}


@media only screen and (max-width: 360px) {
    .filter-item {
        font-size: 12px; /* Decrease font size for smaller screens */
        padding: 6px; /* Adjust padding for smaller screens */
        margin: 8px 8px 8px 0px; /* Adjust margin for smaller screens */
    }
}